<?xml version="1.0"?>
<model>
  <name>Calibrated compliant Type 2 tennis ball</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>
  <author><name>tennis-robot project</name></author>
  <description>Rigid state body with analytically calibrated compliant wheel and ground contacts.</description>
</model>
